.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.section {
  width: 250px;
  padding: 20px 40px;
  border-right: 4px solid green;
}

.last {
  border-right: none;
}

h1 {
  margin-bottom: 25px;
}